<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <style>
        .datatable {
            position: relative;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: rgb(96, 98, 102);
            overflow: hidden;
            flex: 1 1 0%;
        }
        .datatable td, .datatable th {
            padding: 12px 0;
            min-width: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            text-align: left;
        }
    </style>
</head>
<body class="hold-transition">
<div id="app">
    <!--{{test}}-->
    <div class="content-header">
        <h1>系统管理<small>权限管理</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>系统管理</el-breadcrumb-item>
            <el-breadcrumb-item>权限管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="权限名/关键字" v-model="pagination.queryString" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter"></el-input>
                <el-button @click="QfindPage()" class="dalfBut">查询</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column prop="name" label="权限名" align="center"></el-table-column>
                <el-table-column prop="keyword" label="关键字" align="center"></el-table-column>

                <el-table-column prop="description" label="描述" align="center">

                </el-table-column>

                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">详情</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>
            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="新增角色" :visible.sync="dialogFormVisible">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="权限名">
                                                <el-input v-model="formData.name"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="关键字">
                                                <el-input v-model="formData.keyword"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="描述">
                                                <el-input v-model="formData.description" />
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>

            <!-- 编辑标签弹层 -->
            <div class="add-form">
                <el-dialog title="编辑权限" :visible.sync="dialogFormVisible4Edit">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="权限名">
                                                <el-input v-model="formData.name"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="关键字">
                                                <el-input v-model="formData.keyword"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="描述">
                                                <el-input v-model="formData.description" />
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="closedialogFormVisible4Edit()">取消</el-button>
                        <el-button type="primary" @click="handleEdit()">编辑</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    var vue = new Vue({
        el: '#app',
        data:{
            test:[],
            activeName:'first',//添加/编辑窗口Tab标签名称
            pagination: {//分页相关属性
                currentPage: 1,
                pageSize:10,
                total:100,
                queryString:null,
            },
            menusDatatable:[],//菜单详情
            permissionDatatable:[],//权限列表
            dataList: [],//列表数据
            formData: {},//表单数据
            tableData:[],//新增和编辑表单中对应的表数据
            tableData2:[],
            permissionIds:[],//新增和编辑表单中检查项对应的复选框，基于双向绑定可以进行回显和数据提交
            menuIds:[],
            dialogFormVisible: false,//控制添加窗口显示/隐藏
            dialogFormVisible4Edit:false//控制编辑窗口显示/隐藏
        },
        created() {
            axios.defaults.withCredentials = true;
            this.findPage();
        },
        methods: {
            //提示框
            showMessage(r){
                console.log(r);
                if (r.message.indexOf("403") != -1){
                    this.$message.error("无权访问");
                }else{
                    this.$message.error("未知错误");
                }
            },
            //编辑
            handleEdit() {
                axios.post("/permission/updatePermission.do",this.formData).then((Response)=>{
                    if(Response.data.flag){
                        this.$message({
                            message: Response.data.message,
                            type: "success" // info ,error, success, warning
                        });

                    }else {
                        this.$message({
                            message: Response.data.message,
                            type: "error" // info ,error, success, warning
                        });
                    }
                    this.dialogFormVisible4Edit = false;
                    this.findPage();
                    this.resetForm();

                }).catch((err)=>{
                    console.log(err);
                })

            },
            //添加
            handleAdd () {
                axios.post("/permission/addPermission.do",this.formData).then((Response)=>{
                    if(Response.data.flag){
                        //新增成功，弹出成功提示
                        this.$message({
                            message: Response.data.message,
                            type: 'success'
                        });
                    }else{
                        //新增失败，弹出错误提示
                        this.$message.error(Response.data.message);
                    }
                }).catch((err)=>{
                    console.log(err);
                }).finally(()=>{
                    this.dialogFormVisible = false;
                    this.findPage();
                })
            },
            QfindPage(){
                this.pagination.currentPage =1;
                this.findPage();
            },
            //分页查询
            findPage() {
                axios.post("/permission/findPermissionPage.do", this.pagination).then((result)=> {
                    if (result.data.flag) {
                        // 成功
                        this.pagination.total = result.data.data.total;
                        this.dataList = result.data.data.rows;
                    } else {
                        this.$message({
                            message: result.data.message,
                            type: 'error'
                        });
                    }
                })
            },
            closedialogFormVisible4Edit(){
                this.dialogFormVisible4Edit =false;
            },
            // 重置表单
            resetForm() {
                this.formData ={};
                this.tableData=[];
            },
            // 弹出添加窗口
            handleCreate() {
                this.resetForm();
                this.dialogFormVisible = true;
            },
            // 弹出编辑窗口
            handleUpdate(row) {
                this.dialogFormVisible4Edit = true;
                // 1.发ajax请求，得到当前菜单数据
                axios.get("/permission/findById.do?id="+row.id).then((resp)=>{
                    // 2.处理结果(data:json对象{"flag":true,"message":MessageConstant.QUERY_MENU_SUCCESS,"data":json对象}或{"flag":false,"message":MessageConstant.QUERY_MENU_FAIL,"data":null})
                    if(resp.data.flag){
                        // 查询成功，显示提示信息并赋值模型
                        this.$message.success(resp.data.message);
                        this.formData = resp.data.data;
                    }else{
                        this.$message.error(resp.data.message);
                    }
                })

            },
            //切换页码
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage;
                this.findPage();
            },
            // 删除
            handleDelete(row) {
                this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    // 发ajax请求，删除当前菜单
                    axios.get("/permission/delete.do?id=" + row.id).then((resp)=>{
                        // 处理结果
                        if(resp.data.flag){
                            this.$message.success(resp.data.message);
                        }else{
                            this.$message.error(resp.data.message);
                        }
                    }).catch((error)=>{

                    }).finally(()=>{
                        this.findPage();
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });

            }
        }
    })
</script>
</html>
